header {
    grid-column: 3 / 5;
    margin: 2rem 0;
    background-color: #ffbb55;
}


.menu ul {
    display: flex;
    padding: .625rem;
}

.menu a {
    display: block;
    color: #222222;
    padding: .925rem;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1rem;
}

.btn-login {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    padding: .5rem 2rem;
    box-shadow: 0 0 10px rgba(0,0,0, .3);
    background-color: #e54;
    cursor: pointer;
    font-family: 'IBM Plex Mono', monospace;
    border: none;
    transition: .2s;
}

.btn-login:hover {
    background-color: rgb(231, 52, 33);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: flex;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    background-color: #e54;
    padding: 1rem;
    border: 2px solid #000;
}


.dropdown-menu::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e54;
    position: absolute;
    top: -10px;
}

.dropdown-menu li a {
    transition: .2s;
}

.dropdown-menu li a:hover {
    color: #fff;
}

.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu,
.dropdown.active .dropdown-menu {
    display: flex;
    animation: showUpDropDown .5s;
}

@keyframes showUpDropDown {
    from {
        opacity: 0;
        transform: scale(.95);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}
